@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Kumbh Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li {
    @apply mr-3 text-sm text-gray-600
    
}

.profile {
    position: absolute;
    right:0
}


.subImges img {
    @apply h-16 w-auto rounded-lg m-2
}



.cta {
    /* color: #EC8305 */
}

.plusBtn, .minusBtn {
    color: #EB5B00
}

.ctaBtn {
    background-color: #EB5B00;
}